body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 500px;
  margin: 0 auto;
  background-color: #EEEEEE;
}

div#container {
  background-color: #FFFFFF;
  padding: 50px;
}

a {
  color: #00B7FF;
}