doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style-admin.css")
    link(rel="stylesheet", href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-2.0.1.min.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js")
    script(type="text/javascript", src="/scripts/pages_admin.js")
  body
    div(id="container")
      block content